.carousel-arrow {
    background-color: yellow !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-arrow:hover {
    background-color: darkyellow;
  }
  
  .react-multi-carousel-arrow::before {
    font-size: 20px;
    color: #b01010;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
  }
  
  .custom-dot-list-style {
    display: none;
  }
  